.project-wrapper {
  max-width: 600px;
  margin: 30px auto;
  font-family: "Roboto Condensed", sans-serif;
}
/* body {
  background-color: pink;
} */
.project-body {
  margin-bottom: 0px;
  padding: 15px;
  padding-bottom: 0px;
  border: 1px solid;
  border-color: rgba(202, 200, 200, 0.703);
  border-radius: 15px;
}

.last-updated {
  font-size: 10px;
  text-align: right;
  position: relative;
  left: 430px;
}

h1 {
  font-size: 100px;
  font-weight: normal;
  display: inline;
  position: relative;
  top: -20px;
}

.logo {
  font-size: 55px;
  color: pink;
}

ul {
  list-style-type: none;
  padding: 0;
  font-size: 18px;
}
.description {
  font-size: 20px;
}

.description:first-letter {
  text-transform: capitalize;
}

.main-temperature {
  padding: 0px;
}

.city-country-time {
  padding-left: 15px;
  padding-right: 0;
}

.units {
  display: inline;
  position: relative;
  top: -80px;
  font-size: 13px;
  color: black;
}
/* a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.units .active {
  color: black;
  cursor: default;
  text-decoration: none;
} */

span.forecast-max-temp {
  font-weight: bold;
}
span.forecast-min-temp {
  font-weight: normal;
  color: gray;
}

.forecast-box {
  text-align: center;
}

.forecast-per-day {
  font-size: 20px;
  font-weight: bold;
}
