.project-wrapper {
  max-width: 700px;
  margin: 30px auto;
  font-family: "Roboto Condensed", sans-serif;
}
/* body {
  background-color: pink;
} */
.project-body {
  margin-bottom: 0px;
  padding: 15px;
  padding-bottom: 0px;
  border: 5px solid;
  border-color: aqua;
  border-radius: 15px;
}

h4,
h9 {
  display: inline;
}
h6 {
  display: inline;
  position: relative;
  top: -50px;
}

h1 {
  font-size: 90px;
  font-weight: 200;
  display: inline;
}

.logo {
  font-size: 70px;
  color: pink;
}

ul {
  list-style-type: none;
  padding: 0;
  font-size: 18px;
}

.main-temperature {
  padding: 0px;
}

.city-country-time {
  padding: 0px;
}
